<div id="info" class="col-md-12 text-white text-center page-info col-transform">
  <div class="vert-middle">
    <div class="reveal scale-out">

      <div class="p-t-b-15 btn-row">
        <a class="btn btn-border-white" rel="nofollow"
           role="button" href="https://sedo.com/search/details/?domain=<%= data.site.url %>">
          Purchase This Domain
        </a>
      </div>

    </div>
  </div>
</div>